{% load static %}

<!DOCTYPE html>
<html lang="eng">
  <head>
    <title>make it stick - Book Reviews</title>
    <link rel="stylesheet" href="{% static "book-review.css" %}">
  </head>
  <body>
    <header>
      <div>My Book Reviews</div>
      <nav>
        <a href="{% url "reviews_list" %}">Back to list</a>
        <a href="{% url "create_review" %}">Create a review</a>
      </nav>
    </header>
    <main>
      <!-- <div class="detail-page-book-review">
        <img class="book-cover" src="https://mks.io/make-it-stick.jpg ">
        <h1>make it stick</h1>
        <div class="book-rating">4 stars</div>
        <div class="book-authors">By Peter C. Brown, Henry L. Roediger III, Mark A. McDaniel</div>
        <h2>Summary</h2>
        <p>Tools, strategies and stories to help students, teachers and trainers learn more effectively based on 10 years of collaboration between 11 cognitive psychologists – collected and synthesised by author Peter Brown and psychology researchers Henry Roediger and Mark McDaniel. The responsibility for learning rests with the individual [and] the techniques for highly effective learning outlined in this book can be used right now everywhere learners, teachers and trainers are at work. They come at no cost, they require no structural reform, and the benefits they promise are both real and long-lasting.</p>
        <h2>My review</h2>
        <div>
          <p>Great book! Really changed my life, I still regret I should've read it sooner, I'm so glad I did now , it's great for people who want to improve their learning skills could be for good grades or anything , you can learn anything using this book including music , chess, etc
            A million thanks to the authors of this book.</p>
        </div>
      </div> -->
      <div class="detail-page-book-review">
        <img class="book-cover" src="{{ review.cover_image }}">
        <h2 class="book-title">
          <a href="detail.html">{{ review.title }}</a>
        </h2>
        <div class="book-rating">{{ review.rating }} stars</div>
        <div class="book-authors">
          {{ review.authors }}
        </div>
        <h3>Summary</h3>
        <p>
          {{ review.summary }}
        </p>
        <h2>My review</h2>
        <p>
          {{ review.review }}
        </p>
      </div>
    </main>
    <footer>
      <div>Copyright 2022 by Jessica Dyer!</div>
      <p>This is my site that contains all of my book reviews that you can read to see if you'd like that book.</p>
    </footer>
  </body>

</html>