{% load static %}
<!DOCTYPE html>
<html lang="eng">
  <head>
    <title>Book Reviews</title>
    <link rel="stylesheet" href="{% static "book-review.css" %}">
  </head>
  <body>
    <header>
      <div>My Book Reviews</div>
      <nav>
        <a href="{% url "create_review" %}">Create a review</a>
      </nav>
    </header>
    <main>
      <!-- <div class="main-page-book-review">
        <img class="book-cover" src="https://mks.io/make-it-stick.jpg ">
        <h2 class="book-title">
          <a href="detail.html">make it stick</a>
        </h2>
        <div class="book-rating">4 stars</div>
        <div class="book-authors">By Peter C. Brown, Henry L. Roediger III, Mark A. McDaniel</div>
        <h3>Summary</h3>
        <p>Tools, strategies and stories to help students, teachers and trainers learn more effectively based on 10 years of collaboration between 11 cognitive psychologists – collected and synthesised by author Peter Brown and psychology researchers Henry Roediger and Mark McDaniel. The responsibility for learning rests with the individual [and] the techniques for highly effective learning outlined in this book can be used right now everywhere learners, teachers and trainers are at work. They come at no cost, they require no structural reform, and the benefits they promise are both real and long-lasting.</p>
      </div> -->

      {% for review in reviews %}
        <div class="main-page-book-review">
          <img class="book-cover" src="{{ review.cover_image }}">
          <h2 class="book-title">
            <a href="{% url "review_detail" review.id %}">{{ review.title }}</a>
          </h2>
          <div class="book-rating">{{ review.rating }} stars</div>
          <div class="book-authors">
            {{ review.authors }}
          </div>
          <h3>Summary</h3>
          <p>
            {{ review.summary }}
          </p>
        </div>
      {% endfor %}

    </main>
    <footer class="footer">
      <div>Copyright 2022 by Jessica Dyer!</div>
      <p>This is my site that contains all of my book reviews that you can read to see if you'd like that book.</p>
    </footer>
  </body>
</html>