@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Gothic&family=Roboto&display=swap');

/* @font-face {
  font-family: '-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif';
  font-style: normal;
} */

html {
  background-color: beige;
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
  /* font-family: 'League Gothic', sans-serif; */
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0px;
}

header {
  padding: 24px;
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 24px;
}

footer {
  background-color: burlywood;
  display: grid;
  margin-top: 24px;
  padding: 24px;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  column-gap: 24px;
}

main {
  max-width: 800px;
  margin: auto;
}

.main-page-book-review {
  display: grid;
  background-color: white;
  border: 1px solid lightblue;
  padding: 24px;
  grid-template-columns: auto 1fr;
  column-gap: 24px;
}

.book-cover {
  width: 200px;
  height: auto;
  display: grid;
  grid-row: 1/span 5;
  align-self: center;
}

.book-title {
  font-weight: bold;
  font-size: 150%;
}

.book-rating {
  font-size: 125%;
}

.book-authors {
  color: dimgray;
}

.detail-page-book-review {
  background-color: white;
  padding: 24px;
}

input {
  border: 1px solid darkgray;
  border-radius: 4px;
  padding: 12px;
}

textarea {
  border: 1px solid darkgray;
  border-radius: 4px;
  padding: 12px;
  height: 100px;
}

.book-review-form {
  background-color: white;
  padding: 24px;
}
a:link {
  text-decoration: none;
}
a:hover {
 color: green;
}

